.nftCardWrapper {
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    width: 246px;
    height: 260px;
}

.nftImg {
    width: 246px;
    height: 164px;
    object-fit: cover;
}

.nftTxtWrapper {
    padding: 6px 5px 9px 9px;
    line-height: 20px; 
}

.nftTxt {
    font-size: 14px;
}

.nftOwner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 3px 6px 10px;
}

.nftOwnerImg {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.nftOwnerName {
    font-size: 12px;
    margin-left: 7px;
    margin-top: 2px;
}