.btnContainer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--navy-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitIcon {
    width: 60%;
    height: 50%;
}

.addIcon {
    width: 50%;
    height: 50%;
}

