.itemWrapper{
    width: 100%;
    min-height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3% 0;
    z-index: 0;
}

.avatar{
    width: 65px !important;
    height: 65px !important;
    padding: 3.3% 2% 3.3% 2%;
    object-fit: cover;
}
.memeImg > img {
    object-fit: cover;
    border-radius: 4px;
}

.textWrapper{
    width:100%;
}
.text{
    font-size: 13px;
    width:100%
}

.text > span {
    position: static;
    font-weight: bold;
    font-size:14px;
    line-height: 18px;
    z-index: 1;
}

.textWrapper > .elapsedText {
    font-size:8px;
    padding-top: 4px;
    text-align: end;
    opacity: 0.3;
}