.itemWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% 0;
    z-index: 0;
}

.avatar{
    width: 4rem !important;
    height: 100% !important;
    margin: 0 3% 0 3%;
}
.memeImg > img {
    object-fit: cover;
    border-radius: 6px;
}

.textWrapper{
    width:100%;
}
.text{
    font-size: 13px;
    width:100%
}

.text > span {
    position: static;
    font-weight: bold;
    font-size:14px;
    z-index: 1;
}

.textWrapper > .elapsedText {
    font-size:8px;
    text-align: end;
    opacity: 0.3;
}