.itemWrapper{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width:100%;
    height:3rem;
    margin: 3% 0 3% 0;
}

.avatar{
    width:15% !important;
    height:100% !important;
}
.avatar > img{
    object-fit: cover
}

.itemInfo {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    width:85%;
}

.itemtitle{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 3%;
}

.elapsedText{
    margin-left: 5%;
    font-size: 8px;
    color:var(--section-line-color);
}

.title{
    font-size: 15px;
    font-weight: bold;
    min-width:10%;
}

.comment{
    font-size: 12px;
    margin-left: 3%;
}