.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin: 3% 0;
  padding: 0 3%;
}

.avatar {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
  border-radius: 6px;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 85%;
}

.itemtitle {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 3%;
}
.title {
  font-size: 15px;
  width: 100%;
  font-weight: bold;
  min-width: 10%;
}

.elapsedText {
  /* margin-left: 5%; */
  width: 100%;
  font-size: 8px;
  color: var(--section-line-color);
}

.comment {
  font-size: 12px;
  margin-left: 3%;
}
