.slideDiv{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.pSlidemenu{
    width:8.5em !important;
    z-index: 100;
}

.slideBtn{
    display: flex;
    flex-direction: column;
    background-color: var(--button-color) !important;
}
.slideBtn > p {
   font-size: 8px; 
   font-weight: bold;
}

.slideBtn > span {
    font-size: 1.5rem;
}