.mainCarousel {
  width: 100%;
  height: 220px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainCarousel > img{
  width:100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.mainCarousel > i{
  z-index: 2;
  margin: 0 5% 0 5%;
}

.carouselBtn {
  position: absolute;
  top:80%;
  left:30%;
  width: 8rem;
  height: 1.5rem;
  border: none;
  border-radius: 1.5rem;
  color: var(--white-color);
  background-color: var(--button-color);
}