.auctionWrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.buttonWrapper {
  position: absolute;
  background-color: #ffffff71;
  display: flex;
  width: 100%;
  height: 8%;
  bottom: 0;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.buttonWrapper > button {
  background-color: var(--button-color);
  width: 15%;
  height: 100%;
  padding: 0;
  justify-content: center;
}

.sitBtn {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap:2px
  
}

.sitBtn > p { 
  font-size: 8px;
  font-weight: bold;
}

.sitBtn {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap:2px
  
}

.sitBtn > p { 
  font-size: 8px;
  font-weight: bold;
}

.fullMoniterBtn {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.fullMoniterBtn > button {
  background-color: var(--button-color);
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.fullMoniterBtn > button > p {
  font-size: 8px;
  font-weight: bold;
}

.sitIcon {
  font-size: 2rem;
}
.bidIcon {
  font-size: 2rem;
}

.bidBtn{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.bidBtn>p{
  font-size: 8px;
  font-weight: bold;
}