.date{
    text-align: start;
    font-size: 16px;
    font-weight: bold;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:16px;
    gap: 2rem;
}

.dataContainer{
    width: 100%;
}