.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.submit{
    color: var(--point-color);
}

.body{
    padding: 16px;
    font-size:20px;
    font-weight: bold;
}

.basicImg > p{
    margin-bottom: 5%;
}

.myNFT > p {
    margin-bottom: 5%;
}

.avatar{
    object-fit : cover;
    border: 1px var(--section-line-color) solid;
    width: 5rem !important;
    height: 5rem !important;
    margin-right: 6%;
    margin-bottom: 10%;
}

.avatar > img{
    width: 80% !important;
    height: 80% !important;
}

.selected{
    object-fit : cover;
    border: 1px var(--point-color) solid;
    width: 5rem !important;
    height: 5rem !important;
    margin-right: 6%;
    margin-bottom: 10%;
}

.selected > img{
    width: 80% !important;
    height: 80% !important;
}