.hamburger {
  color: #7D7D7D;
  font-size: 2.5rem;
}

.hamburger:hover {
  cursor: pointer;
}

.dropContainer {
  padding-top: 1rem;
  height: 15rem !important;
  border-radius: 0 0 6px 6px;
}

.dropMenu {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1rem;
}

.navLink {
  text-decoration: none;
  color: var(--black);
  font-size: 100%;
}

.navLink:hover {
  color: var(--point-color);
}