.searchIcon {
    color: #7D7D7D;
    font-size: 1.5rem;
}

.searchCompContainer {
    position: absolute;
    background-color: var(--white-color);
    left: 0%;
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchComp {
    width: 85%;
    height: 100%;
}


.input {
    width: 100%;
    height: 100%;
    border: none;
  }
:focus {
    outline: none;
}


.closeItem {
    border: 1px solid var(--section-line-color);
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--disabled-gray-color);
    font-size: 11px;
}
