.nftCardBack {
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    width: 246px;
    height: 247px;
    margin-left: 10px;
    padding: 10px 5px 9px 9px;
    position: relative;
}

.nftCardBackTitle {
    font-size: 14px;
    line-height: 20px;
}

.hrTag {
    margin-right: 7px;
    height: 0.5px;
    border: 0;
    background-color: var(--disabled-gray-color);
}

.nftCardBackDetail {
    font-size: 12px;
    line-height: 18px;
}

.detailBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.7rem;
    color: var(--button-color);
    border-radius: 6px;
    margin: 4px;
}