.tabContainer {
  width: 100%;
  /* background-color: red; */
  /* height: 400px; */
  /* overflow: hidden; */
}

.tabNavContainer {
  padding: 10px 0;
}

.tabRouteContainer {
  padding: 10px 16px;
  height: 100%;
}

.transitionsWrapper {
  overflow-x: hidden;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
}



