.inputContainer {
  border: 1px solid var(--section-line-color);
  border-radius: 6px;
  width: 100%;
  height: 50px;
  padding: 1% 2%;
  display: flex;
  margin-top: 0.5rem;
}

.inputBox {
  border: none;
  width: 95%;
  height: 100%;
  font-size: 16px;
}

.inputBox:focus {
  outline: none;
}

.inputBox::placeholder {
  font-size: 14px;
  color: var(--disabled-gray-color);
}

.spinnerContainer {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--point-color);
}

.errorBox {
  border: 1px solid var(--red-color) !important;
}

.errorMsg {
  font-size: 10px;
  color: var(--red-color);
  margin: 4px 0 0 4px;
  height: 10px;
}