.pageContainer {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  font-size: 1rem;
  font-weight: bold;
  margin: 16px;
}

.auctionImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}