.auctionWrapper{
    position: absolute;
    width: 100vw;
    height:100vh;
}

.buttonWrapper{
    position:absolute;
    display: flex;
    width:100%;
    bottom:0;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.sitBtn{
    z-index:1;
}