.auctionWrapper{
    position: absolute;
    width: 100vw;
    height:100vh;
}

.buttonWrapper{
    position:absolute;
    background-color: var(--setting-color);
    display: flex;
    width:100%;
    bottom:0;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.buttonWrapper > button{
    background-color: var(--button-color);
}

.sitBtn{
    z-index:1;
}

.fullMoniterBtn{
    position: absolute;
    margin-left: 35%;
    margin-top: 5%;
}

.fullMoniterBtn > button{
    background-color: var(--button-color);
}