.auctionWrapper{
    position: absolute;
    width: 100vw;
    height:100vh;
}

.buttonWrapper{
    position:relative;
    display: flex;
    top: 93%;
    margin: 0 5% 0 5%;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.sitBtn{
    z-index:1;
}