.homeMenuWrapper {
    display: flex;
    justify-content: space-between;
}

.skeletonWrapper {
    display: flex;
    justify-content: center;
}

.homeMenuTitle {
    margin: 25px 15px 15px 15px;
    font-size: 18px;
}

.listRouter {
    text-decoration: none;
    color: var(--disabled-gray-color);
    font-size: 12px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.auctionCarousel {
    height: 330px;
}