.canvas {
    position:fixed;
    left:0;
    top:0;
}

.sections {
    position: relative;
    z-index: 1;
}

.section {
    box-sizing: border-box;
    padding: 5rem;
    height:100vh;
}
.section h2{
    margin:0;
    font-size: 10vmin;
}