.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16px;
}

.pageHeader {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}