.pageContainer {
  display: flex;
  flex-direction: column;
}

.pageHeader {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 16px;
}

.notInputTxt {
  margin: 5% 16px 10% 16px;
}

.searchArea {
  transition: 100ms;
}

.loadingContainer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}