.memeDetailPage {
    margin: 14px;
    min-height: 690px;
}

.auctionBtnWrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px 10px 0px;
}

.alarmBtn, .auctionInfoBtn, .auctionInfoBtn2{
    height: 35px;
    border-radius: 5px;
    color: var(--white-color);
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.alarmBtn {
    width: 130px;
    background-color: var(--button-color);
}

.auctionInfoBtn {
    width: 180px;
    background-color: #d0d0d0;
}

.auctionInfoBtn2{
    width: 180px;
    background-color: var(--button-color);
    animation: blink-effect 0.5s step-end 6;
}

@keyframes blink-effect {
    50% {
        opacity: 100%;
        background-color: var(--point-color);
    }
  }

.memeTitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 18px;
}

.memeTimeView {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-right: 35%;
}

.memeImg {
    width: 100%;
    height: 250px;
    border-radius: 6px;
    margin-top: 10px;
    object-fit: cover;
}

.memeGuide {
    font-size: 14px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 5px;
}

.memeDescription {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 14px;
}

.memeOwner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 10px;
    
}

.memeOwner > div:first-child {
    font-weight : bold;
}


.ownerName {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 235px;
}

.ownerName > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--section-line-color)
}

.heartGroup {
    display: flex;
    justify-content: space-between;
    margin: 20px 23% 30px 23%;
}
.heartWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heartImoji {
    font-size: 44px;
    color: var(--section-line-color);
    border: 0.5px solid var(--section-line-color);
    border-radius: 100%;
    padding: 6px;
}
.dislikeHeartImoji {
    font-size: 44px;
    color: var(--point-color);
    border: 0.5px solid var(--point-color);
    border-radius: 100%;
    padding: 6px;
}

.dislikeBtn {
    width: 70px;
    height: 75.6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heartNumber {
    font-size: 12px;
    margin-top: 3px;
}

.uploadAuctionBtn {
    width: 300px;
    height: 30px;
    margin: auto;
    background-color: var(--button-color);
    color: var(--white-color);
    border-radius: 6px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}