.areaContainer {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nickname {
  max-width: 80%;
  font-size: 1.1rem;
  font-weight: bold;
}

.setting {
  font-size: 1.1rem;
}
