.cardContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.notContent {
  padding-top: 40%;
}