body{
  margin: 0;
  --box-shadow: 1px 1px 10px -4px #858585;
  --point-color: #03A9F4;
  --button-color: #448AFF;
  --button-two-color: #774AF9;
  --setting-color: #0277BD;
  --white-color: #FFFFFF;
  --section-line-color: #D0D0D0;
  --disabled-gray-color: #858585;
  --black-color: #282828;
  --impossible-color: #FE7171;
  --possible-color: #56FB67;
  --heart-color: rgb(249, 125, 145);
}

p {
  margin: 0;
}

* {
  font-family: 'Gmarket Sans TTF';
}

.Scene_scene__mRBD8{
  position: absolute !important;
}