.addBtnContainer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 3%; 
    right: 16px;
}

.btnContainer {
    width: 44px;
    height: 44px;
}

.navLink {
    text-decoration: none;
    color: var(--black);
    font-size: 100%;
}