.uploadBtnContainer {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.btnContainer {
    width: 44px;
    height: 44px;
}

.submit{
    width: 44px;
    height: 44px;
}

.submitTrue {
    height: 100%;
    border-radius: 50%;
    background-color: var(--navy-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitFalse {
    height: 100%;
    border-radius: 50%;
    background-color: var(--disabled-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}