.titleInputContainer {
    margin: 20px 0;
}

.inputContainer {
    border: 1px solid var(--section-line-color);
    border-radius: 6px;
    width: 100%;
    height: 50px;
    padding: 1% 2%;
    display: flex;
}

.inputBox {
    border: none;
    width: 95%;
    height: 100%;
    font-size: 18px;
}

.inputBox:focus {
    outline: none;
}

.spinnerContainer {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--point-color);
}

.explanation {
    font-size: 10px;
    color: var(--disabled-gray-color);
    margin: 4px 0 0 4px;
}