.checkboxWrapper {
  font-size: 10px;
  color: var(--disabled-gray-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.checkboxWrapper > p {
  margin-top: 3%;
}

.checkboxWrapper > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 3px;
}

.checkbox {
  margin-left: 5%;
}
