.memeListNewContainer {
  width: 100%;
  height: 100%;
  position: absolute;

  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}