.compContainer {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  margin-bottom: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageCnt {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  padding-left: 1%;
  color: var(--disabled-gray-color);
  font-size: 13px;
}

.rankingCompContainer {
  width: 100%;
  height: 250px;
  padding: 16px;
  border: 1px solid var(--section-line-color);
  border-radius: 6px;
}

.rankingHeader {
  display: flex;
  padding-right: 0.5rem;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 18px;
}

.headerTxt {
  height: 10%;
  font-size: 1.2rem;
  font-weight: bold;
}

.headerTime {
  color: var(--disabled-gray-color);
  font-size: 0.8rem;
}

.rankingContainer {
  width: 100%;
  height: 80%;
  display: flex;
}

.itemContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left {
  width: 45%;
  margin-right: 10%;
}

.right {
  width: 45%
}